.speedDial {
  position: fixed;
  right: 3vmax;
  top: 3vmax;
}

.speedDialIcon {
  width: 56px;
  height: 56px;
  border-radius: 100%;
}
.link {
  color: rgb(87, 85, 85);
  text-decoration: none;
}
.link:hover {
color: rgb(87, 85, 85);

}
.navlink{
  color: rgb(87, 85, 85);;
  text-decoration: none;
}
.navlink:hover {
  color: rgb(87, 85, 85);;
  
  }
  .text{
    font-size: 15px;
  }